version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: daily
      time: "13:00"
    open-pull-requests-limit: 10
    # ignore packages that update too frequently
    ignore: []
      # Example ignore
      # - dependency-name: aws-sdk
      #   versions:
      #     - ">= 0"
